.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 8vh;
  }
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(3, minmax(min-content, 2fr));
    grid-template-rows: max-content 1fr;
    grid-gap: 1rem;
  }

  // @media only screen and (max-width: $bp-large) {
  //   grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  // }

  // @media only screen and (max-width: $bp-small) {
  //   grid-template-columns: repeat(6, minmax(10rem, 1fr));
  // }

  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    font-family: $font-display;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.2rem;
      padding: 1.2rem;
    }
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-0.3rem);
  }
}

.copyright {
  color: $color-grey-light-2;
  font-size: 1.4rem;
  text-align: center;
  margin: 6rem auto 0;
  width: 70%;

  @media only screen and (max-width: $bp-large) {
    font-size: 1.2rem;
  }
}
